   # Pandas Examples

In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('C:/Users/psjsi/DataSC_2023/data/nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [16]:
df['Temperature'].dtype

dtype('int64')

In [18]:
int_temp_values = int(df['Temperature'].max())
print(int_temp_values)

50

In [19]:
print(type(int_temp_values))

<class 'int'>

In [5]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [22]:
df['WindSpeedMPH'].mean()

np.float64(6.892857142857143)

In [23]:
df.shape

(31, 11)

In [24]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [25]:
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [26]:
df[:]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [27]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [28]:
df['Events']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [8]:
# Import pandas package
import pandas as pd
 
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
 
# select two columns
df[['Name', 'Qualification', 'Age']]

     Name Qualification  Age
0     Jai           Msc   27
1  Princi            MA   24
2  Gaurav           MCA   22
3    Anuj           Phd   32

In [10]:
#df['Temperature'].max()
df['Temperature'].max()

KeyError: 'Temperature'

In [11]:
df['Temperature'].mean()

KeyError: 'Temperature'

In [ ]:
df['Temperature'].min()

In [ ]:
df['Temperature'].std()

In [ ]:
df[['Temperature', 'DewPoint' ]].describe()

In [ ]:
# condition based dataframe
df[df.Temperature>=32]

In [ ]:
# for max temperature

df[df.Temperature==df.Temperature.max()]

In [ ]:
#other syntex
df[df.Temperature==df['Temperature'].max()]

In [ ]:
#filter out the columns where temp is max
df['EST'][df.Temperature==df['Temperature'].max()]

In [ ]:
# df frame index starts from 0(automatically) with steps of 1 
df.index

In [ ]:
#  set index, which uniquely indentified the row. Also columns on which index applied used as key for getting the rest of column data
    
df.set_index('Events', inplace=True)

df.reset_index(inplace=True)

In [20]:
# Creating Data Frames 
# 1). using csv 2) to retrieve the data from excel, 3). using dictionary 
df=pd.read_excel("weather_data.xlsx","Sheet1")
df

FileNotFoundError: [Errno 2] No such file or directory: 'weather_data.xlsx'

In [21]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df111 = pd.DataFrame(weather_data)
df111

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
# 4). creating df using tuples

weatther_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

df123 = pd.DataFrame(weatther_data, columns=['day', 'temperature', 'windspeed', 'event'])
df123

In [ ]:
# Using List of dictionaries, refers to pandas documentation pandas.io

weatherr_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df1234 = pd.DataFrame(data=weatherr_data, columns=['day','temperature','windspeed','event'])
df1234

In [ ]:
# reading the csv files using the df, skiprows=1, for  skip the first row (or header=1)
df1 = pd.read_csv('C:/Users/psjsi/DataSC_2023/data/stock_data.csv')
df1

In [ ]:
# to provides the headers name 

df2222= pd.read_csv("C:/Users/psjsi/DataSC_2023/data/stock_data.csv", header=None, names = ["ticker","eps","revenue","people"])
df2222

In [ ]:
# to show only the few rows 

df = pd.read_csv("C:/Users/psjsi/DataSC_2023/data/stock_data.csv",  nrows=2)
df

In [ ]:
# data not available, replace the value with NaN
df = pd.read_csv("C:/Users/psjsi/DataSC_2023/data/stock_data.csv", na_values=["n.a.", "not available"])
df

In [ ]:
#to handle the -ve revenue and eps

df = pd.read_csv("C:/Users/psjsi/DataSC_2023/data/stock_data.csv",  na_values={
        'eps': ['not available'],
        'revenue': [-1],
        'people': ['not available','n.a.']
    })
df

In [ ]:
# to create the new cvs file using the existing data frame df also for remove the index, after path use like index=False
df.to_csv("C:/Users/psjsi/DataSC_2023/data/New_stock_data.csv")

In [ ]:
# for exporing the only two columns 
df.to_csv("C:/Users/psjsi/DataSC_2023/data/N_2Columns_stock_data.csv",  columns=['tickers', 'eps'])

In [ ]:
# to skil the headers in the export file 
df.to_csv("C:/Users/psjsi/DataSC_2023/data/Header_stock_data.csv", header=False)

In [ ]:
# for the missing values 
df = pd.read_csv('C:/Users/psjsi/DataSC_2023/data/nyc_weather.csv')
df

In [ ]:
type(df.EST[0])

In [ ]:
# to convert the EST(date) column from string to date column type
df = pd.read_csv('C:/Users/psjsi/DataSC_2023/data/nyc_weather.csv', parse_dates=['EST'])
df

In [ ]:
nw_df= df.fillna(0)
nw_df

In [ ]:
# use dictionary for fill the details where data are missing or appropriate

new_df = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'No Event'
    })
new_df

In [ ]:
# there are 2 ways to process the Not avalable values using the ffill and bfill, ffill for forward fill and bfill for backward fill
#  in case of axis=column, data has to be vertically copied.

new_df = df.fillna(method="bfill", axis="columns") # axis is either "index" or "columns"
new_df

In [ ]:
# If limit is applied, only that no. of columns or rows vaalue has been effected.
new_df = df.fillna(method="ffill",limit=1)
new_df

In [ ]:
# use of interpolate 
# If limit is applied, only that no. of columns or rows vaalue has been effected.
#new_df = df.interpolate()

new_df_interpolate= df.interpolate(method ='ffill') 
new_df_interpolate

In [ ]:
new_df= df.interpolate(method='time')
new_df

# Pandas main data structures

1. Dataframes (like tables)
2. Series  ( to choose one columns, pandas called it as Series)

In [22]:
import numpy as np
import pandas as pd 

data = pd.read_csv("matches.csv")
data

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [ ]:
# Plot function using Pandas, on x-axis used the categorical value and on y-axis is data corresponding to that.

data['winner'].value_counts()

In [ ]:
# to vertically plot using the bar chart 

import matplotlib.pyplot as plt
data['winner'].value_counts(). plot(kind='bar')

In [ ]:
# top 5 teams for highets winner in IPL
data['winner'].value_counts().head(5).plot(kind='bar')

In [ ]:
# to plot the  horizontally chart

data['winner'].value_counts(). plot(kind='barh')

In [ ]:
# to plot the pie chart

data['toss_decision'].value_counts()

In [ ]:
data['toss_decision'].value_counts().plot(kind= 'pie')

In [ ]:
# to plot the histogram, use bins(margins) to plot the numerical data 
data['win_by_runs'].plot(kind='hist')

In [ ]:
# series operations
myseries = data['winner'].value_counts()
myseries

In [ ]:
myseries['Mumbai Indians']

In [ ]:
# sorted order
(data['team1'].value_counts() + data['team2'].value_counts()).sort_values()

In [ ]:
# Sorting apply on the series
(data['team1'].value_counts() + data['team2'].value_counts()).sort_values(ascending= False)

In [ ]:
# Sorting apply on the dataframe, for permanent changes in df used the (inplace=True). this should be avoid
data.sort_values('city')

In [ ]:
# apply sorting on multiple columns using the list
data.sort_values(['city', 'date'])

In [ ]:
# apply sorting on multiple columns using the list, also sort the city on ascending order while date is descending 
data.sort_values(['city', 'date'], ascending=[True, False])

In [ ]:
# to drop duplicates the rows 
data['city'].drop_duplicates().shape

In [ ]:
data.shape

In [ ]:
data.drop_duplicates('season', keep='last')[['season','winner']].sort_values('season')

In [ ]:
# Example of Groupby() function 

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

df1 = pd.read_csv('Fortune_500_Companies.csv')

df1

In [ ]:
df1.head()

In [ ]:
df1.describe()

In [ ]:
df_grp = df1.groupby('sector')
df_grp

In [ ]:
len(df1)

In [ ]:
len(df_grp)

In [ ]:
df_grp.size()

In [ ]:
df_grp.size().sort_values(ascending=False)

In [ ]:
df_grp.first()

In [ ]:
df_grp.last()

In [ ]:
sec01 = df_grp.groups
sec01

In [ ]:
df1.iloc[23, :]

In [ ]:
df_grp.get_group('Telecommunications')

In [ ]:
df_grp.get_group('Technology')

In [ ]:
df_grp.get_group('Apparel')

In [ ]:
df_grp.get_group('Apparel').shape

In [ ]:
df_grp.sum()

In [ ]:
df_grp['revenue_mil'].mean(). sort_values(ascending=False)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df2 = pd.read_csv("deliveries.csv")
df2

In [ ]:
df2.describe()

In [ ]:
max_runs=df2.groupby('batsman')

max_runs

In [ ]:
# to get the maximum runs by an batsman using the deliveries data sets
max_runs['batsman_runs'].sum().sort_values(ascending=False)

In [ ]:
max_runs['batsman_runs'].sum().sort_values(ascending=False).head()

In [ ]:
#  Batsman having hot the 4 or 6 

mask4=df2['batsman_runs']==4
new_mask4 = df2[mask4]

#  for hit the sixes in the IPL


mask6=df2['batsman_runs']==6
new_mask6 = df2[mask6]

In [ ]:
# no. of four's hit by batsman in the IPL (17033)

new_mask.shape[0]

In [ ]:
new_mask6.shape[0]

In [ ]:
# use groupby batsman on above calculated  4 or 6 

new_mask6.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(5)

In [ ]:
# for calculate the max 4's 

new_mask4.groupby('batsman')['batsman_runs'].count().sort_values(ascending =False).head()

In [ ]:
# playesr maximumruns against any teams in IPL

def runs_scored(batsman_name):
    runs= df2[df2['batsman']==batsman_name]
    return runs.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)

In [ ]:
# runs_scored('V Kohli')
runs_scored('G Gambhir')

In [ ]:
#  isin() Function in Pandas : for filtering and selecting data within a DataFrame based on specified conditions. 
# It allows you to create boolean masks to identify rows where the values in one or more columns match certain criteria.

death_overs = df2[df2['over']>15]

In [ ]:
all_batsman = death_overs.groupby('batsman')['batsman_runs'].count()
x= all_batsman > 200
batsman_list = all_batsman[x].index.tolist()

batsman_list

In [ ]:
# merge() method updates the content of two DataFrame by merging them together, syntax
# dataframe.merge(right, how, on, left_on, right_on, left_index, right_index, sort, suffixes, copy, indicator, validate) 
# default is inner, how = 'right' defines the methid used 

import pandas as pd

m1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

m2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

frame1 = pd.DataFrame(m1)
frame2 = pd.DataFrame(m2)

newdf = frame1.merge(frame2, how='right') 
print(newdf)

In [ ]:
# Pivot table

import pandas as pd

food= pd.read_csv("food.csv")
food

In [ ]:
food.shape

In [ ]:
food.pivot_table(index='City', columns = 'Items', values='Spends', aggfunc='mean')

In [ ]:
food.pivot_table(index=['City', 'Gender'], columns = 'Items', values='Spends', aggfunc='mean')

In [ ]:
# use the pivot table using the IPL data sets
df2

In [ ]:
mask=df2['batsman_runs']==6
six= df2[mask]
six.head()

In [ ]:
six.shape

In [ ]:
six.pivot_table(index='over', columns='batting_team', values='batsman_runs', aggfunc='count')

In [ ]:
import seaborn as sns
sns.heatmap(six.pivot_table(index='over', columns='batting_team', values='batsman_runs', aggfunc='count'))

In [ ]:
df2.corr()

In [ ]:
#  Practices pandas

In [ ]:
import numpy as np
import pandas as pd

arr01 = np.array([10, 15, 18, 22, 25])
#pd.Series(arr01)
arr01

In [ ]:
# using Series, it will uniquely assigned as index 
pd.Series(arr01)

In [ ]:
import pandas as pd 
import numpy as np 
arr=np.array(['a','b','c','d', 'e', 'f', 'x'])
s=pd.Series(arr, index=['first','second','third','fourth', 'fifth', 'sixth','seventh' ])   #  specifying index are optionals
print(s)

In [ ]:
#  To create a series from Scalar vales, index must be provided

p = pd.Series(50, index = [])
print(p)

In [48]:
b = pd.Series(100, index = [0, 1, 2, 3, 4, 5])
print(b)

0    100
1    100
2    100
3    100
4    100
5    100
dtype: int64

In [ ]:
#  Creating a Series from Dictionary

import pandas as pd

# create a dictionary
dict = {'Name': 'Harsh', 'Profession': 'Data Scientist', 'City':'Delhi'}
d = pd.Series(dict)
print(d)

In [ ]:
# dict = {'Name': 'Harsh', 'Profession': 'Data Scientist', 'City':'Delhi', 'Name': 'Riya', 'Profession': 'Human Resource', 'City':'Mumbai', 'Name': 'Nancy', 'Profession': 'Data Analyst', 'City':'Berlin'}

In [ ]:
# mathematics operations in Series 

t =pd.Series([1, 2, 3, 4, 5])
print(t*2)

In [ ]:
t =pd.Series([1, 2, 3, 4, 5])
print(t**2)

In [ ]:
t =pd.Series([1, 2, 3, 4, 5])
print(t[t>2])

In [ ]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([10, 20, 30, 40, 50], index = ['a', 'b', 'c', 'd', 'e'])
s3 = pd.Series([5, 14, 23, 32], index = ['a', 'b', 'c', 'd'])

In [ ]:
print(s1 + s2)

In [ ]:
print(s2 + s3)

In [ ]:
print(s2.add(s3, fill_value=0))

# Head & Tail Functions
# pick the first 5 and last 5 records using these functions.

In [ ]:
import pandas as pd
import numpy as np

arr02 = np.array([49, 13, 15, 3, 38, 49, 77, 91, 5, 63, 87, 99])

f1 = pd.Series(arr02)
f1.head()

In [ ]:
f1.tail()

#  selections in Series 
Series provides index label loc and ilocand [] to access rows and columns. 

loc index label :- 
Syntax:-
series_name.loc[StartRange: StopRange]

In [ ]:
arr03= np.array([49, 13, 15, 3, 38, 49, 77, 91, 5, 63, 87, 99, 45, 66, 27])

ex1=pd.Series(arr03)
print(ex1)

In [ ]:
# loc: to print the values from Index 0 to 2
print(ex1.loc[:2])

In [ ]:
print(ex1.loc[3:5])   # print value from index 3 to 5

In [ ]:
ex1.loc[2:3]

# iLoc 
Selection Using iloc index label :- 
Syntax:-
series_name.iloc[StartRange : StopRange]

** The 'loc' function is mainly used when we want to select rows and columns based on their labels.    
Whereas 'iloc' is used when choosing rows and columns based on specific positions.

In [ ]:
# iLoc examples

print(ex1.iloc[:2])

In [ ]:
print(ex1.iloc[3:5])

In [ ]:
ex1.iloc[2:3]

In [ ]:
import pandas as pd
import numpy as np 

arr03= np.array([49, 13, 15, 3, 38, 49, 77, 91, 5, 63, 87, 99, 45, 66, 27])

ex1=pd.Series(arr03)
print(ex1[1])

print('\n')

print(ex1[3:4])

print('\n')

print(ex1[:3])

In [ ]:
# Indexing in Series : Pandas provide index attribute to get or set the index of entries or values in series.

import pandas as pd 
import numpy as np 
arr=np.array(['a','b','c','d', 'e', 'f', 'x'])
s=pd.Series(arr, index=['first','second','third','fourth', 'fifth', 'sixth','seventh' ])   #  specifying index are optionals
print(s)

print('\n Index in Series are::')
print(s.index)

# Slicing in Series : Slicing is a way to retrieve subsets of data from a pandas object. 
# A slice object syntax is  

SERIES_NAME [start:end: step]

In [ ]:
print(s)

print('\n Slicing in Series are::')
print(s[1:5:2])

print('\n New Slicing in Series are::')
print(s[0:6:2])

#  DATAFRAME

DATAFRAME-It is a two-dimensional object that is useful in representing data in the form of rows and columns. 
It is similar to a spreadsheet or an SQL table. This is the most commonly used pandas object. 
Once we store the data into the Dataframe, we can perform various operations that are useful in analyzing and understanding the data.


DATAFRAME STRUCTURE
COLUMN -->         
PLAYERNAM    E IPLTEA             M BASEPRI (CEN).C R                   
0
RO         HIT                   MI
                     3 1
V         IRAT                  RC
 B                   17 2
H        ARD                  IK 
(MI 14)                             (
IND)


#  PROPERTIES OF DATAFRAME

1. A Dataframe has axes (indices)-  Row index (axis=0)
                                    Column index (axes=1)
   
2. It is similar to a spreadsheet , whose row index is called index and column index is called column name.
3. A Dataframe contains Heterogeneous data.
4. A Dataframe Size is Mutable.
5. A Dataframe Data is Mutable.EX DATA

# A data frame can be created using any of the following-
1. Series
2. Lists
3. Dictionary
4. A numpy 2D array

In [ ]:
# example of Dataframe, which contains both Index's and column's as per the above Dataframe definitions.
# Contains the empty Columns and indes...

import pandas as pd
df = pd.DataFrame()
print(df)

In [ ]:
# Create DataFrame \, default column name as 0
import pandas as pd

a = pd.Series(['a', 'b', 'c', 'd'])
df = pd.DataFrame(a)
print(df)

In [ ]:
# To assign the column name

name = pd.Series(['a', 'b', 'c', 'd'])
# name =pd.series(['Name': index])
dic = {'Name': name}
df = pd.DataFrame(dic)
print(df)

In [ ]:
# Dataframe from list of dictionaries

import pandas as pd

lst = [{'Name': 'Harsh', 'Surname': 'Sinha'}, {'Name': 'Rishav', 'Surname': 'Sinha' }, {'Name': 'Sachin', 'Surname': 'Tendulkar'}, 
       {'Name': 'MS', 'Surname': 'Dhoni'}, {'Name': 'Virat', 'Surname': 'Kohli'}]
df2 = pd.DataFrame(lst)
print(df2)

# Iteration on Rows and Columns

If we want to access record or data from a data frame row wise or column wise then iteration is used. 
Pandas provide 2 functions to perform iterations-
1. iterrows ()
2. iteritems ()

In [ ]:
import pandas as pd

lst = [{'Name': 'Harsh', 'Surname': 'Sinha'}, {'Name': 'Rishav', 'Surname': 'Sinha' }, {'Name': 'Sachin', 'Surname': 'Tendulkar'}, 
       {'Name': 'MS', 'Surname': 'Dhoni'}, {'Name': 'Virat', 'Surname': 'Kohli'}]
df2 = pd.DataFrame(lst)
print(df2)

for(row_index, row_value) in df2.iterrows():
    print('\n Row Index is ::', row_index)
    print('Row Value is ::', row_value[0])

In [ ]:
# To access the data column wise use the method iteritems()
df2

In [36]:
#  to access the data columns wise 

for(col_name, col_value) in df2.items():
    print('\n')
    print('Column Name::', col_name)
    print('Column Values are ::')
    print(col_value)

Column Name:: Name
Column Values are ::
0     Harsh
1    Rishav
2    Sachin
3        MS
4     Virat
Name: Name, dtype: object


Column Name:: Surname
Column Values are ::
0        Sinha
1        Sinha
2    Tendulkar
3        Dhoni
4        Kohli
Name: Surname, dtype: object

In [ ]:
# select Operations in dataframe

To access the column data ,we can mention the column name as subscript. e.g. - df[empid] 

This can also be done by using df.empid. 
To access multiple columns we can write as df[ [col1, col2,---] ]

In [43]:
import pandas as pd

EmpData = {'empid': [101, 102, 103, 104, 105],
           'ename': ['Maxx', 'Harsh', 'Riya', 'Lisa', 'Smith'],
           'doj': ['12-01-2012', '03-08-2019', '11-04-2015', '22-06-2014', '25-11-2013']}
df3 = pd.DataFrame(EmpData)
print(df3)

   empid  ename         doj
0    101   Maxx  12-01-2012
1    102  Harsh  03-08-2019
2    103   Riya  11-04-2015
3    104   Lisa  22-06-2014
4    105  Smith  25-11-2013

In [44]:
# to accesss the empid

df3.empid

0    101
1    102
2    103
3    104
4    105
Name: empid, dtype: int64

In [45]:
df3['empid']

0    101
1    102
2    103
3    104
4    105
Name: empid, dtype: int64

In [47]:
df3[['empid', 'ename']]   #  for multiple attributes

   empid  ename
0    101   Maxx
1    102  Harsh
2    103   Riya
3    104   Lisa
4    105  Smith

In [59]:
#  To Add & Rename a column in data frame

In [58]:
z = pd.Series([10, 15, 18, 21, 25, 33, 77])
df4 = pd.DataFrame(z)

df4.columns=['List1']

df4['List2']=20

df4['List3'] = df4['List1'] + df4['List2']
print(df4)

   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     21     20     41
4     25     20     45
5     33     20     53
6     77     20     97

# To Delete a Column in data frame
We can delete the column from a data frame by using any of the the following  

1. del
2. pop()
3. drop()

del df[List3] We can simply delete a column by passing column name in subscript with df

In [60]:
del df4['List3']

In [70]:
df4

   List1  List3
0     10     30
1     15     35
2     18     38
3     21     41
4     25     45
5     33     53
6     77     97

In [75]:

z = pd.Series([10, 15, 18, 21, 25, 33, 77])
df4 = pd.DataFrame(z)

df4.columns=['List1']

df4['List2']=20
df4['List3'] = df4['List1'] + df4['List2']
print(df4)

   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     21     20     41
4     25     20     45
5     33     20     53
6     77     20     97

In [76]:
#  df.pop(List2) we can simply delete a column by passing column name in pop method.

df4.pop('List3')
df4

   List1  List2
0     10     20
1     15     20
2     18     20
3     21     20
4     25     20
5     33     20
6     77     20

In [ ]:
#  To Delete a Column Using drop()

# (axis=1) means to delete Data column wise
# (axis=0) means to delete data row wise with given index

In [92]:
x = pd.Series([5, 10, 15, 20, 25])
df5 = pd.DataFrame(x)
df5.columns = ['List1']
df5['List2']=40

#df.drop('List2', axis = 1)
df5

   List1  List2
0      5     40
1     10     40
2     15     40
3     20     40
4     25     40

In [93]:
df5 = df5.drop('List2', axis = 1)   # axis=1, means delete the data columns wise
df5

   List1
0      5
1     10
2     15
3     20
4     25

In [98]:
# delete data row wise 
df6= df5.drop(index =[2, 3], axis=0)    #  (axis =0), means to delete the data along the rows wise.
print(df6)

   List1
0      5
1     10
4     25